h1 {
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
  color: #66BFBF;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #11999E
}

hr {
  border-top: 0.5rem dotted grey;
  border-bottom: 0;
  width: 10%;
  opacity: 0.5;
  margin: 5rem auto;
}

p {
  line-height: 1.8;
  font-size: 1.2rem;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
  text-decoration: none;
}

footer {
  background-color: #E4F9F5;
  padding: 2rem;
}

.navbar {
  background-color: #E4F9F5;
  color: #11999E;
}

.hi {
  max-width: 3rem;
  max-height: 4rem;
}

.myself:hover {
  text-decoration: underline;
}

.top {
  background-color: #E4F9F5;
  position: relative;
  padding-bottom: 12rem;
}

.middle {
  margin: 4rem 0;
}

.bottom {
  background-color: #66BFBF;
  padding: 2rem;
  margin-top: 2rem;
}

.copyr {
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  margin: 2rem auto 0 auto;
}

.contact-me {
  position: relative;
  width: 50%;
  text-align: center;
  left: 25%;
  margin-bottom: 4rem;
}

.contact-buttom {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  background-color: #66BFBF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-buttom:hover {
  background: #4F9D9D;
  border: solid #E4F9F5 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.cloud-top {
  position: relative;
  max-width: 16rem;
  max-height: 12rem;
  right: 20%;
  top: 5%;
  opacity: 0.8;
}

.cloud-bottom {
  position: absolute;
  max-width: 20rem;
  max-height: 16rem;
  right: 65%;
  bottom: 10%;
  opacity: 0.6;
}

.cloudsun {
  position: relative;
  max-width: 20rem;
  max-height: 16rem;
  left: 25%;
  top: 5%;
}

/* .cloud-center {
  position: absolute;
  max-width: 44rem;
  max-height: 32rem;
  float:right;
  right: 40rem;
} */
/* .mountain{
position: relative;
left: 20rem;
max-height: 30rem;

}

.mountain2{
position: relative;
right: 34rem;
max-height: 24rem;
top: 22rem;
} */
.footer-link {
  padding: 2rem;
}

.skill-img1 {
  position: relative;
  right: 15%;
  width: 55%;
  float: left;
}

.skill-img2 {
  position: relative;
  width: 55%;
  float: right;
  left: 15%;
}

.skill-img3 {
  position: relative;
  width: 55%;
  float: left;
  right: 10%;
  max-height: 20rem;
  max-width: 20rem;
}

.skill-row {
  position: relative;
  margin: 5rem auto 12rem;
  width: 75%;
  text-align: left;
}

.profile {
  margin-left: 25%;
  width: 50%;
}

.profile-img {
  border-radius: 100%;
  width: 15rem;
  padding-bottom: 3rem;
}

.profile-des {
  text-align: left;
  padding-top: 2rem;
}
